table.gridtable {
  border-collapse: collapse;
}
table.gridtable td {
  font-size:0.9em;
} 
button {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  width:90px;
}
.gridtr td{
  text-align:right;
  border-top:1px solid rgb(121, 119, 119); 
  border-bottom:1px solid rgb(121, 119, 119);
}
.blanktr td{
  background-color: rgb(247, 243, 243);
  color:rgb(189, 189, 189); 
  border-top:1px solid rgb(121, 119, 119); 
  border-bottom:1px solid rgb(121, 119, 119);
}
span.whypay {
  color:rgb(163, 163, 163);
  text-decoration: line-through;
}
span.yourprice {
  font-size:1.2em;
}